In [1]:
for i in range (1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [2]:
i=0
while i<10:
    i=i+1
    print([i])

[1]
[2]
[3]
[4]
[5]
[6]
[7]
[8]
[9]
[10]

In [3]:
print([i for i in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a=[12,12,43,53,12,43,23]
for i in a:
    if i!=i:
        print(i)

In [5]:
a=10
a=a+1
while a<11:
    a=a-1
    print(a)
    if a==1:
        break

In [6]:
a=9
a=a+1
while a<a+2:
    a=a-1
    print(a)
    if a==1:
        break
        
print("This is all my Dear")

9
8
7
6
5
4
3
2
1
This is all my Dear

In [7]:
a=10
while a>=1:
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1

In [8]:
for i in range (10,0,-1):
    print(i,end=",")

10,9,8,7,6,5,4,3,2,1,

* Non repeatative Element in List

In [ ]:
## a=[1,2,4,1,3,4]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

In [10]:
a=[1,12,332,12,23,12,44,332]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 12, 332, 23, 44]

In [2]:
# take input from user
a=[]
n=int(input("How many Numbers"))
for i in range(n):
    b=int(input("Enter Number = "))
    if b not in a:
        a.append(b) 
    if len(a)==n:
        break
print(a)

How many Numbers10
Enter Number = 3
Enter Number = 2
Enter Number = 1

KeyboardInterrupt: Interrupted by user

In [15]:
 names=[]
n=3
for i in range(n):
    b=int(input("Enter Nos"))
    names.append(b)
print(names)
s=set(names)
a=list(s)
print(a)
print(s)

Enter Nos 1
Enter Nos 1
Enter Nos 3

[1, 1, 3]
[1, 3]
{1, 3}

In [3]:
a=[23,23,2,32,100]
a[::-1]

[100, 32, 2, 23, 23]

In [16]:
a=(12,23,34,12,34,12,34,222,12)
print(list(a[::-1]))

[12, 222, 34, 12, 34, 12, 34, 23, 12]

In [4]:
a=eval(input("Give me with ,,,,"))
print(a)
b=list(a)
b.reverse()
print(b)
t=tuple(b)
print(t)

Give me with ,,,,12,1,232,1,1,(1,2,3)
(12, 1, 232, 1, 1, (1, 2, 3))
[(1, 2, 3), 1, 1, 232, 1, 12]
((1, 2, 3), 1, 1, 232, 1, 12)

In [7]:
eval(input())

(1,2,4,32,2,[2])

(1, 2, 4, 32, 2, [2])

In [17]:
a=eval(input("Give me with ,,,,"))
print(a)
b=list(a)
b.reverse()
print(b)
t=tuple(b)
print(t)

Give me with ,,,, 12,12,23,12,2,23,45

(12, 12, 23, 12, 2, 23, 45)
[45, 23, 2, 12, 23, 12, 12]
(45, 23, 2, 12, 23, 12, 12)

In [9]:
a=[1,2,3,4,5]
for i in a:
    b=a.index(i)
    print(b)

0
1
2
3
4

In [12]:
a=[]
n=int(input("Enter Numbers how many?"))
for i in range(n):
        b=int(input("Numbers = "))
        a.append(b)
print(a)
b=[]
p=int(input("Enter which index you want"))
for p in a:
    k=a.index(p)
    b.append(k)
print(b)

Enter Numbers how many?1
Numbers = 2
[2]
Enter which index you want3
[0]

In [17]:
a=[1,2,3,3,0]
if 3 in a:
    b=a.index(i)
    print(b)

4

* Prime nos in list

In [ ]:
a=int(input("Enter nos till which Prime number you want"))
for i in range(2,a):
    for j in range(2,a):

In [3]:
no=53
for i in range (2,no):
    if no%i==0:
        print("Not Prime",no)
        break
if no%i!=0:
        print("Prime",no)

Prime 53

In [18]:
for i in range(2,11):
    for j in range(2,i):
        if i%j==0:
            break
    else: 
            print(i)

2
3
5
7

In [38]:
for i in range(1,20,2):
    if i>6:
        break
    else:
        print(i)

1
3
5

In [43]:
for i in range(1,10):
    if i==5:
        continue 
    print(i)

1
2
3
4
Not Yet 5
6
7
8
9

In [20]:
for i in range(5,20):
    for j in range(2,i):
        if i%j==0:
            break
        else:
            print(i)

5
7
11
13
17
19

In [22]:
for i in range (2,n):
    for j in range(2,i):
        if i%j==0:
            print("Not prime",i)
    else:
            print("Prime",i)

Prime 2
Prime 3
Not prime 4
Prime 4
Prime 5
Not prime 6
Not prime 6
Prime 6
Prime 7
Not prime 8
Not prime 8
Prime 8
Not prime 9
Prime 9

In [9]:
n=10
for i in range(2,n):
    for j in range(1,n):
        if i%j==0:
            break
        else:
            print(i)

In [145]:
n=17
for i in range(2,n):
    for j in range(2,n):
        if i%j==0:
            break
    else:
         print(i)

In [47]:
# Next prime Number
def nextprime(N):
    for i in range(2,N):
        if N%i==0:
            break
        else:
            print("Prime",N)

In [57]:
nextprime(10)

In [53]:
def Name(what):
    print("My",what,"Akshay")

In [55]:
Name("a")

My a Akshay

In [69]:
def Primeornot(N):
    for i in range(2,N):
        if N%i!=0:
            print("Prime",N)
            
        elif N%i==0:
            print("Not Prime")

In [70]:
Primeornot(10)

Not Prime
Prime 10
Prime 10
Not Prime
Prime 10
Prime 10
Prime 10
Prime 10

In [83]:
a=57
for i in range(2,11):
    if a%i==0:
        print("Not Prime")
        break
else:
     print("Prime",a)

Not Prime

In [89]:
def primenot(N):
    for i in range(2,N):
        if N%i==0:
            print("Not Prime",N)
            break
    else:
        print("Prime",N)

In [90]:
primenot(13)

Prime 13

In [ ]:
for i in range (2,n):
    for j in range(2,i):
        if i%j==0:
            print("Not prime",i)
    else:
            print("Prime",i)

In [126]:
def nextprime(N):
    for i in range(N+1,10):
        for j in range(2,i):
            if i%j!=0:
                print("Prime",i)
                continue

In [127]:
nextprime(6)

Prime 7
Prime 7
Prime 7
Prime 7
Prime 7
Prime 8
Prime 8
Prime 8
Prime 8
Prime 9
Prime 9
Prime 9
Prime 9
Prime 9
Prime 9

In [ ]:
for i in range(10,15):
    for j in range(2,i):
        if i%j==0:
            print("Not Prime",i)
            break
    else:
            print("Prime",i)
            break

In [148]:
def NEXTPRIME(b):
    for a in range(b+1,100):
        for i in range(2,a):
            if a%i==0:          
                break
        else:
            print("Prime",a)
            break

In [150]:
NEXTPRIME(31)

Prime 37

In [7]:
b=19
for a in range(b+1,100):
    for i in range(2,a):
        if a%i==0:
            
            break
    else:
            print(" Prime",a)
            break

 Prime 23

In [13]:
n=15
while True:            # Sometimes if we want to continue our loop upper limit is NOT KNOWN then use WHILE = True
    n=n+1
    for i in range(2,n):
        if n%i==0:
            break
    else:
        print(n)
        break

17

In [14]:
m=10
for n in range(1,m):
    for i in range(2,n):
        if n%i==0:
            break
    else:
        print(n)

1
2
3
5
7

* Prime List till

In [59]:
prime_num=[]
n=2
j=int(input("How many?"))
n=1

while True: 
    # Sometimes if we want to continue our loop upper limit is NOT KNOWN then use WHILE = True
    n=n+1
    for i in range(2,n):
        if n%i==0:
            break
    else:
        prime_num.append(n)
        if len(prime_num)==j:
            break        
print(prime_num)
len(prime_num)

How many? 20

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

20

In [58]:
prime_num=[]
n=2
while True:
    
    n=n+1
    for i in range(2,n):
        if n%i==0:
            break
    else:
        prime_num.append(i)
        if len(prime_num)==5:
            break
print(prime_num)

[2, 4, 6, 10, 12]

* Factorial of Number

In [62]:
a=5
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

120

In [82]:
a="My Name is akshay is Name "
b=a.split()
print(b)
c=[]
for i  in b:
    if i not in c:
        c.append(i)
print(c)

['My', 'Name', 'is', 'akshay', 'is', 'Name']
['My', 'Name', 'is', 'akshay']

In [83]:
a="aabaabbbaddddssss"
c=a.split()
c

['aabaabbbaddddssss']

In [4]:

print("Area of Circle",3.14*int(input("enter Radius="))**2)

enter Radius= 4

Area of Circle 50.24

In [11]:
# First N Numbers Squares sum

a,j=1,0
N=int(input("Enter Number = "))
for i in range(1,N+1):
    i=i**2
    j=j+i
print(j)

Enter Number =  5

55

In [15]:
def recrsive(N):
    a,j=1,0
    
    for i in range(1,N+1):
        i=i**2
        j=j+i
    print(j)

In [16]:
recrsive(5)

55

In [19]:
def sum(n):
    if n==1:
        return(n)
    return n**2+sum(n-1)

In [20]:
sum(5)

55

In [25]:
s="akshay Kh"
print(s[::-1])

hK yahska

In [26]:
s

'akshay Kh'

In [51]:
c=s.split()

p=" ".join( reversed(c))
p

'Kh akshay'

In [35]:
a=c.reverse()
print(a)

None

In [55]:
n=int(input("Multiplication Table of ="))

for i in range(1,11):
    print(n,"*",i,"=",n*i)

Multiplication Table of = 16

16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

In [7]:
i=0
def name():
    global i
    i=i+1
    print("Akshay",i)
    
name()

Akshay 1

In [11]:
import sys
print(sys.getrecursionlimit())
sys.setrecursionlimit(200)
print(sys.getrecursionlimit())

3000
200

In [17]:
# Square Sum?
p=0
def sumsquare(N):
    s=N**2
    global p
    p=p+s
    print(p)

In [18]:
sumsquare(4)

16

In [27]:
def sumsq(N):
    if N==1:
        print("Finish")
    else:
        return N**2 + sumsq(N-1)

In [26]:
sumsq(3)

Finish

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [32]:
def sumsq(N):
    if N==1:
        return(1)
    
    return N**2 + sumsq(N)

In [36]:
def sum(n):
    if n==1:
        return 1
    return n**2+ sum(n-1)

 ## Important Recursion

In [48]:
def sumsqu(N):
    if N==1:
        return (1)
    return (N**2 + sumsqu(N-1))

In [49]:
sumsqu(3)

14

In [62]:
p=100
i=20
t=15
print("Simple Interst =",p*i*t/100)

Simple Interst = 300.0

In [67]:
p=100
i=20
t=15
A=p*((1+(i/100))**t)-p
A

1440.7021574586358

In [72]:
p=100
i=20
for j in range(1,16):
    ci=p*(1+i*j/100)
    cii=ci+ci
print(cii)

800.0

In [81]:
N=125
if N%5!=0:
    print("Not divisible by 5")
else:
    print("%d is divisible by 5"%N)

125 is divisible by 5

In [90]:
Number=int(input("enter the Any Number you wish"))
if Number >0:
         print("%d is Positive Number"%Number)
elif Number==0:
        print("%d is ZERO"%Number)
else:
        print("Negetive Number %d"%Number)

enter the Any Number you wish -123

Negetive Number -123

In [95]:
n=10
for i in range(1,n+2,2):
    print(i)

1
3
5
7
9
11

In [100]:
odd=[]
k=int(input("How many odd numbers you want man?"))
for i in range(1,N,2):
    odd.append(i)
    if len(odd)==k:
        break
print(odd)

How many odd numbers you want man? 10

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [105]:
i=1
while i<20:
    print(i,end=" ")
    i=i+2

1 3 5 7 9 11 13 15 17 19

In [106]:
a=10
b=12
c=10
print("volume of cuboid ",a*b*c)

volume of cuboid  1200

In [108]:
i=10
while i>0:
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1

### Alphabetical order in Dictionary

In [10]:
a="Akshay"
b="ZOm"
c="Yogesh"
if (a<b<c):
    print(a,b,c)
if (a>b>c):
    print(c,b,a)
else:
    print(b,a,c)

ZOm Akshay Yogesh

In [16]:
a,b,c=input(),input(),input()
if (a<b and a<c and b<c):
    print(a,b,c)
elif a<b and a<c and b>c:
    print(a,c,b)
elif b>a and c>a and b>c:
    print(a,c,b)

 a
 g
 pa

a g pa

In [39]:
A=input("Enter 3 Cities by ,").split(",")
[print(x) for x in sorted(A) if  print(x)]

Enter 3 Cities by , a,m,b

a
b
m

[]

* Sorted can be used Across words to whole , separated string

In [43]:
A=input(),input(),input()
for i in sorted(A):
    print(i)

 a
 m
 b

a
b
m

In [50]:
for i in range (5,1,-1):
    print(i)

5
4
3
2

In [60]:
a=int(input())
if a%2==0:
    a=a-1
for i in range(a,0,-2):
    print(i,end=" ")

 12

11 9 7 5 3 1

In [71]:
a=int(input())
if a%2==0:
    a=a-1
N=int(input("Enter the Numbers "))
l=[]
for i in range (a,0,-2):
    l.append(i)
    if len(l)==N:
        break
print(l)

 20
Enter the Numbers  5

[19, 17, 15, 13, 11]

In [78]:
j=int(input("Enter how many odd you want Now ?"))
a=[]
for i in range(1,100,2):
    a.append(i)
    if len(a)==j:
        print(a[::-1])

Enter how many odd you want Now ? 10

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [81]:
n=10
for i in range(2*n-1,0,-1):
    print(i,end=",")

19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [83]:
# Sir please make a video on print reverse table 20 to 11 by using for loops

In [85]:
for i in range(20,10,-1):
    print(i,end=",")

20,19,18,17,16,15,14,13,12,11,

In [95]:
    for i in range(20,10,-1):
            for j in range(1,11):
                mul=i*j
                print(mul,end=" ")

20 40 60 80 100 120 140 160 180 200 19 38 57 76 95 114 133 152 171 190 18 36 54 72 90 108 126 144 162 180 17 34 51 68 85 102 119 136 153 170 16 32 48 64 80 96 112 128 144 160 15 30 45 60 75 90 105 120 135 150 14 28 42 56 70 84 98 112 126 140 13 26 39 52 65 78 91 104 117 130 12 24 36 48 60 72 84 96 108 120 11 22 33 44 55 66 77 88 99 110

In [97]:
a=[]
for i in range(4):
    a.append(int(input("give me any Number =")))
print(sorted(a))

give me any Number = 12
give me any Number = 1
give me any Number = 245
give me any Number = 123

[1, 12, 123, 245]

In [106]:
sorted([int(input("comma separated numbers").split(","))])

comma separated numbers 12,1,2

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [109]:
a=(input()).split(",")
print(sorted(a))

 12,1,3,2

['1', '12', '2', '3']

In [ ]:
A=input("Enter 3 Cities by ,").split(",")

In [110]:
a=[12,1,2]
print(sorted(a))

[1, 2, 12]

* Difference between Sort[LIST] and assen VARIABLE then it will work Sorted

 In sort() function it will change whole function

In [9]:
A=[12,1,2]
A.sort()
print(A)
A.sort( reverse=True)
print(A)

[1, 2, 12]
[12, 2, 1]

 Here we can observe that in Sorted Original Function does not change

In [5]:
b=[112,12,13,1000]
print(sorted(b))
print("See there is no change",b)

[12, 13, 112, 1000]
See there is no change [112, 12, 13, 1000]

In [10]:
x = {'q':1, 'w':2, 'e':3, 'r':4, 't':5, 'y':6} 
print(sorted(x))

['e', 'q', 'r', 't', 'w', 'y']

In [19]:
a=input("separated by commas").split(",")
print(sorted(a))

separated by commas 1,2,12,10

['1', '10', '12', '2']

you can not convert all string to integer in list in One Go

In [22]:
A=[]
for i in a:
    A.append(int(i))
print(sorted(A))

[1, 2, 10, 12]

In [31]:
l=[int(i) for i in a ]
print(l)
print(sorted(l))

[1, 10, 12, 2]
[1, 2, 10, 12]

In [34]:
n=5
j=0
for i in range(1,n+1):
    j=j+i
print(j)

15

In [35]:
N=0
def sumN(n):
    global N
    N=n+N
    sumnN(n)

In [43]:
def good(name):
    print("good evening",name)
good("Akshay")

good evening Akshay

In [44]:
def sumN(n):
    if n==1:
        return 1
    return sumN(n-1)+n
sumN(5)

15

In [47]:
def sub(n):
    if n==1:
        return 1
    return sub(n-1)-n
sub(5)

-13

In [53]:
lmt=int(input("First N even numbers:"))
a=[]
for i in range(2,100,2):
    a.append(i)
    if len(a)==lmt:
        break
print(a)

First N even numbers: 10

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [62]:
def lmt(N):
    if N==2:
        return 2
    return print(lmt(N-1))
lmt(5)

2
None
None